
.container_data_colheita{

    width: 83%;
    height: 100%;
    
    padding-left: 17%;
    font-family: 'Poppins';

    display: inline-block;

    h1{
        font-weight: lighter;
        font-size: 22px;
    }

    span{
        justify-content: center;
        margin-left: 29%;
    }

}