
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.container_menu{
   
    width: 17%;
    height: 100vh;

    display: flex;
    align-items: flex-start;

    padding: 40px;
    background:#121214;

.menu_itens{
    padding-top: 30px;
    list-style: none;
}

a{
    font-family: 'Poppins';
    color: azure;
    font-weight: bold;
    text-decoration: none;
}
    
}