
.container_cadastro_agricultor{
   
    width: 83%;
    height: 100%;

    padding-left: 17%;

    .texto1{
        text-align: center;
        font-family: 'Poppins';
        font-weight: lighter;
    }

    .input_busca{
        input{
            border-radius: 10px;
            width: 50%;
            height: 25px;
            
            margin-left: 5%;
            text-align: center;
        }

        
        button{
            color: azure;
            background:#27AE60;
            border-radius: 10px;
            border: none;

            margin-left: 30px;
            width: 20%;
            height: 30px;
            font-size: 15px;
        }
    }



    }
    
